<%- include('header') %>

<h1>NEW POT</h1>

<form method="POST">
    <div class="form-group">
        <label for="size-select">Select size</label>
        <select id="size-select" class="form-control" name='size'>
            <% sizeOptions.forEach(function(sizeOption){ %>
            <option value="<%= sizeOption %>" class="dropdown-item"><%= sizeOption %></option>
            <% }); %>
        </select>
    </div>

    <div class="form-group">
        <label for="color-select">Select color</label>
        <select id="color-select" class="form-control" name="color">
            <% colorOptions.forEach(function(colorOption){ %>
            <option value="<%= colorOption %>" class="dropdown-item"><%= colorOption %></option>
            <% }); %>
        </select>
    </div>

    <input type="submit" class="btn btn-success" value="Add pot" />
    <a href="/" class="btn btn-outline-info" role="button">Pot list</a>
</form>


<%- include('footer') %>