<%- include('header') %>

<div class="container">
    <div class="col-xs-12 text-center">
        <h2>Pots</h2>
    </div>
    <div class="col-xs-12">
            <h3>Day counter: <%= dayCounter%> </h3>
            <a href="/dashboard/nextday" class="btn btn-outline-primary" role="button">Next Day</a>
        </div>
    <div class="col-md-push-3 col-md-6 col-xs-12">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Size</th>
                    <th scope="col">Color</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

                <% pots.forEach(function(item){ %>
                <tr>
                    <td><%= item.size %></td>
                    <td><%= item.color %></td>
                    <td>
                        <% if (item._cactus === null) {%>
                        <a href="/pot/<%= item._id %>/repaint" class="btn btn-outline-primary" role="button">Repaint</a>
                        <a href="/pot/<%= item._id %>/delete" class="btn btn-outline-danger" role="button">Throw
                            away</button>
                            <a href="/pot/<%= item._id %>/plant" class="btn btn-outline-success" role="button">Plant
                                Cactus</a>
                            <% } else { %>
                            <a href="/pot/<%= item._id %>/repaint" class="btn btn-outline-primary"
                                role="button">Repaint</a>
                            <a href="/cactus/<%= item._cactus %>" class="btn btn-outline-info" role="button">Cactus
                                Info</a>
                            <% }; %>

                    </td>
                </tr>

                <% }); %>
            </tbody>
        </table>
        <div>
            <a href="/pots/new" class="btn btn-outline-primary" role="button">New Pot</a>
        </div>
    </div>
</div>

<script src="potlist.js"></script>

<%- include('footer') %>