<%- include('header') %>

<h1>Repaint</h1>

<form method="POST">

    <p>Old color: <%= pot.color %></p>

    <div class="form-group">
        <label for="color-select">Select new color</label>
        <select id="color-select" class="form-control" name="color">
            <% colorOptions.forEach(function(colorOption){ %>
            <option value="<%= colorOption %>" class="dropdown-item"><%= colorOption %></option>
            <% }); %>
        </select>
    </div>

    <input type="submit" class="btn btn-success" value="Repaint pot" />
    <a href="/" class="btn btn-outline-info" role="button">Pot list</a>
</form>

<%- include('footer') %>